**/__pycache__
**/venv
web/comori-od-static-vue/package-lock.json
web/comori-od-all/generate-dev.sh
web/comori-od-all/generate-prod.sh
.gitsecret/keys/random_seed
!*.secret
web/comori-od-all/.env-dev
web/comori-od-all/.env-prod
web/comori-od-all/.env-remote
web/comori-od-all/.env-test
web/comori-od-all/.env-new
tools/import_books.sh
