certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==3.3.2
elasticsearch==7.7.1
falcon==2.0.0
falcon-auth==1.1.0
pyotp==2.4.0
gunicorn==20.0.4
idna==2.8
PyYAML==5.4
readline==6.2.4.1
simplejson==3.17.0
urllib3==1.26.5
pyjwt==1.7.1
pymongo==3.11.2
pyOpenSSL==20.0.1
redis==3.5.3
gevent==21.1.2
pytz==2020.5
python-dotenv==0.19.