certifi
cffi
chardet
cryptography
elasticsearch
falcon
falcon-auth
pyotp
gunicorn
idna
PyYAML
readline
simplejson
urllib3
pyjwt
pymongo
pyOpenSSL
gevent
pytz
python-dotenv
Unidecode
cachetools
requests