appdirs
CacheControl
certifi
cffi
chardet
colorama
contextlib2
distlib
distro
falcon
greenlet
gunicorn
html5lib
idna
ipaddr
lockfile
msgpack
packaging
pep517
progress
pyparsing
pytoml
readline
requests
retrying
simplejson
six
Unidecode
urllib3
webencodings
gevent